@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: OpenSans, sans-serif;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* Header starts here */
.header {
    background: black;
    min-height: 5vh;
}
.nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    background: none;
    transition: .3s;
    padding: 2% 1%;
    text-align: center;
}
.nav-item:hover {
    background: rgba(0, 255, 255, 0.5);
}
.nav-link {
    text-decoration: none;
    color: white;
}

/* Main block starts here */
.main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    min-height: 85vh;
}
.left-side, .right-side {
    flex-direction: column;
}
.right-side {
    flex-grow: 2;
}
.left-side {
    background: black;
    color: white;
    max-width: 30%;
    display: flex;
}

/* Left side */
.section {
    padding: 0 30px;
}
.section-title {
    text-transform: uppercase;
    position: relative;

}
.left-side .section-title::after {
    content: "";
    border-bottom: yellow 3px solid;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    height: 1px;
    width: 100%;
    left: 0;
}
h3 {
    text-transform: uppercase;
    font-size: 16px;
}
.additional-info {
    font-size: 16px;
    margin: 0;
}
.link {
    text-decoration: none;
    color: white;
}
.contact-list {
    list-style: none;

}
.contact-item {
    margin: 0 0 5px 0;
    background: #1f1f1f;
    position: relative;
    padding: 5px 10px;
}
.contact-item::before {
    content: "";
    height: 100%;
    background: yellow;
    width: 3em;
    position: absolute;
    display: inline-block;
    left: -3em;
    top: 0;
}
.contact-list li {
    margin-bottom: 10px;
}

/* Right side */
.name {
    padding: 40px 50px;
    background: #ffc636;
    margin: 40px 0 10px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: x-large;
}
.right-side .section-title::after {
    content: "";
    border-bottom: #1f1f1f 3px solid;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    height: 1px;
    width: 100%;
    left: 0;
}
#work-experience {
    display: flex;
    flex-direction: column;
}
.specific-experience {
    display: flex;
}
.years {
    text-align: center;
    max-width: 30%;
    font-weight: 700;
    margin: 16px 15px 0 0;
}
.work-info {
    flex-grow: 2;
}
.code {
    margin: 15px 0 0 0;
}
.languages {
    margin: 25px 0;
}

/* Footer starts here */
.footer {
    max-height: 10vh;
    background: black;
    border-top: 2px yellow solid;
    display: flex;
    justify-content: space-around;
    color: white;
}
.github-img {
    position: relative;
}
.github-img::before {
    content: "";
    position: absolute;
    background-image: url("../assets/img/github.png");
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    height: 32px;
    width: 32px;
    background-size: contain;
}
.rsschool-img::after {
    background-image: url("../assets/img/rs_school_js.svg");

}

/* Media */
@media (max-width: 768px) {
    .section {
        width: 100%;
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-item {
        padding: 10px;
    }
    .container {
        flex-direction: column;
    }
    .left-side {
        min-width: 100%;
    }

}